---
Language: Cpp
BasedOnStyle: Microsoft

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
BreakAfterReturnType: TopLevelDefinitions
BreakTemplateDeclarations: Yes
ColumnLimit: 100
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^(<|")ns3/'
    Priority: 2
    SortPriority: 0
  - Regex: "^<"
    Priority: 3
    SortPriority: 0
  - Regex: ".*"
    Priority: 1
    SortPriority: 0
InsertBraces: true
InsertNewlineAtEOF: true
KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfBlock: false
  AtStartOfFile: false
LineEnding: LF
PackConstructorInitializers: Never
PointerAlignment: Left
QualifierAlignment: Left
SeparateDefinitionBlocks: Always
Standard: "c++20"
