# EditorConfig
#
# This file configures indentation styles for source files in
# supporting editors.
#
# See https://editorconfig.org/ for more.

# Do not search for additional .editorconfig files above this
# directory.
root = true

[*]
end_of_line = lf # Unix-style newlines
charset = utf-8 # All files are in UTF-8
insert_final_newline = true # All files end with a newline
trim_trailing_whitespace = true # No trailing whitespaces

[Makefile]
indent_style = tab
tab_width = 4

[{*.py,ns3}]
indent_style = space
indent_size = 4

[*.{cc,h}]
indent_style = space
indent_size = 4

[{CMakeLists.txt,*.cmake}]
indent_style = space
indent_size = 2

[*.{md,rst,yml,yaml}]
indent_style = space
indent_size = 2
