*.diff
*.orig
*.patch
*.rej

*.o
*.pyc
*.pyo

*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr
[D|U]l[A-Z][a-z]*Stats.txt

\#*#
*~

testpy-output

bindings/python/pybindgen/

venv/

ms_print.*
massif.*
coverity
TAGS

.lock-ns3_*
.ns3rc

build-dir/
build/
/results/
/mobility/guimaraes/generated/
/mobility/guimaraes/validation-summary.xml
/mobility/guimaraes/summary.txt
/mobility/guimaraes/ns3-mobility.*
/mobility/guimaraes/guimabus_gtfs_active.txt
/mobility/guimaraes/guimabus_gtfs_demo.zip
/.cproject
/.project

version.cache

.gitlab-ci-local/
.idea/
cmake-*/
vcpkg/

.vs/

# Ignore local cache used by e.g. clangd
.cache/
