Alexander Afanasyev <alexander.afanasyev@ucla.edu>
Alexander Krotov <krotov@iitp.ru> <ilabdsf@gmail.com>
Alexander Krotov <krotov@iitp.ru> <ilabdsf@yandex.ru>
Alina Quereilhac <alina.quereilhac@inria.fr> <aquereilhac@gmail.com>
Andrey Mazo <mazo@iitp.ru> Andrey Hippo <ahippo@yandex.ru>
Andrey Mazo <mazo@iitp.ru> Andrey Mazo <ahippo@yandex.com>
Andrey Mazo <mazo@iitp.ru> Andrey Mazo <mazo@telum.ru>
Anh Nguyen <annguyen@ittc.ku.edu> Anh Nguyen <trucanh524@gmail.com>
Antti Mäkelä <zarhan@cc.hut.fi>
Biljana Bojovic <bbojovic@cttc.es> <biljana.bojovic@gmail.com>
Biljana Bojovic <bbojovic@cttc.es> biljkus <unknown>
Borovkova Elena <borovkovaes@iitp.ru>
Borovkova Elena <borovkovaes@iitp.ru> Elena Buchatskaya <sunnmy@iitp.ru>
Brett Levasseur <brettl@ll.mit.edu> Brett Levasseur <unknown>
Brett Levasseur <brettl@ll.mit.edu> Brett <unknown>
Budiarto Herman <budiarto.herman@magister.fi> Budiarto Herman <buherman@gmx.com>
Budiarto Herman <budiarto.herman@magister.fi> <mailto:budiarto.herman@magister.fi>
Craig Dowell <craigdo@ee.washington.edu> <craigdo@craig-dowells-imac.local>
Craig Dowell <craigdo@ee.washington.edu> <craigdo@ee.washington.edu>
Craig Dowell <craigdo@ee.washington.edu> <craigdo@gmail.com>
Craig Dowell <craigdo@ee.washington.edu> <craigdo@m354-pc01.ee.washington.edu>
Craig Dowell <craigdo@ee.washington.edu> <craigdo@ns-test>
Craig Dowell <craigdo@ee.washington.edu> <craigdo@ns-test.ee.washington.edu>
Craig Dowell <craigdo@ee.washington.edu> Craig Dowell <unknown>
Duy Nguyen <duy@soe.ucsc.edu> Duy Nguyen <dnlove@gmail.com>
Emmanuelle Laprise <emmanuelle.laprise@bluekazoo.ca> Emmanuelle Laprise <unknown>
Faker Moatamri <faker.moatamri@inria.fr> fmoatamr <unknown>
Federico Maguolo <maguolof@dei.unipd.it>
Federico Maguolo <maguolof@dei.unipd.it> Federico Maguolo <federico.maguolo@dei.unipd.it>
Francisco Javier Sánchez-Roselly <fnavarro@ujaen.es> Francisco Javier Sanchez Roselly <franciscojavier.sanchezroselly@ujaen.es>
Frederic Urbani <frederic.urbani@inria.fr> frederic. <urbani@inria.fr>
George F. Riley <riley@ece.gatech.edu>
Giuseppe Piro <g.piro@giuseppepiro.com> Giuseppe Piro <g.piro@poliba.it>
Giuseppe Piro <g.piro@giuseppepiro.com> Giuseppe Piro <unknown>
Guillaume Seguin <guillaume@segu.in> Guillaume Seguin <guillaume.seguin@sophia.inria.fr>
Gustavo J. A. M. Carneiro <gjc@inescporto.pt> Gustavo Carneiro <gjcarneiro@gmail.com>
Gustavo J. A. M. Carneiro <gjc@inescporto.pt> Gustavo Carneiro <gjc@inescporto.pt>
Gustavo J. A. M. Carneiro <gjc@inescporto.pt> Gustavo J. A. M.  Carneiro <gjcarneiro@gmail.com>
Gustavo J. A. M. Carneiro <gjc@inescporto.pt> Gustavo J. A. M. Carneiro <gjcarneiro@gmail.com>
Hajime Tazaki <tazaki@sfc.wide.ad.jp> Hajime Tazaki <tazaki@nict.go.jp>
Hemanth Narra <hemanth@ittc.ku.edu> Hemanth Narra <hemanthnarra222@gmail.com>
Jaume Nin <jnin@cttc.cat> Jaume Nin <unknown>
Jaume Nin <jnin@cttc.cat> <jnin@cttc.es>
Jaume Nin <jnin@cttc.cat> jnin <unknown>
Joe Kopena <tjkopena@cs.drexel.edu>
Joe Kopena <tjkopena@nsnam-code.ece.gatech.edu>
John Abraham <john.abraham@gatech.edu> John Abraham <jabraham3@mail.gatech.edu>
John Abraham <john.abraham@gatech.edu> John Abraham <john.abraham.in@gmail.com>
John Abraham <john.abraham@gatech.edu> John Abraham <unknown>
Josh Pelkey <jpelkey@gatech.edu> Josh Pelkey <joshpelkey@gmail.com>
Josh Pelkey <jpelkey@gatech.edu> Josh Pelkey <jpekey@gatech.edu>
Ken Renard <kenneth.renard@arl.army.mil> Ken Renard <kdrenard2@gmail.com>
Kirill Andreev <andreev@iitp.ru> <andreev@telum.ru>
Kirill Andreev <andreev@iitp.ru> Kirill V. Andreev <kirillano@yandex.ru>
Lalith Suresh <suresh.lalith@gmail.com> Lalith Suresh <unknown>
Lluís Parcerisa <parcerisa@gmail.com>
Luciano Jerez Chaves <ljerezchaves@gmail.com>
Manuel Requena <mrequena@cttc.es> <manuel.requena@cttc.es>
Manuel Requena <mrequena@cttc.es> mrequena <unknown>
Marco Miozzo <marco.miozzo@cttc.es> mmiozzo <unknown>
Marco Miozzo <marco.miozzo@cttc.es> Unknown <mmiozzo@cttc.es>
Marco Miozzo <marco.miozzo@cttc.es> Unknown <mmiozzo@ubuntu>
Mathieu Lacage <mathieu.lacage@sophia.inria.fr> <lacage@sophia.inria.fr>
Mathieu Lacage <mathieu.lacage@sophia.inria.fr> <mathieu.lacage@cutebugs.net>
Mathieu Lacage <mathieu.lacage@sophia.inria.fr> <mathieu.lacage@gmail.com>
Mathieu Lacage <mathieu.lacage@sophia.inria.fr> <mathieu.lacage@inria.fr>
Mathieu Lacage <mathieu.lacage@sophia.inria.fr> <Mathieu.Lacage@sophia.inria.fr>
Mathieu Lacage <mathieu.lacage@sophia.inria.fr> Unknown <mathieu@mathieu.inria.fr>
Mathieu Lacage <mathieu.lacage@sophia.inria.fr> Unknown <mlacage@nef.inria.fr>
Mathieu Lacage <mathieu.lacage@sophia.inria.fr> Unknown <mlacage@thira.inria.fr>
Matthieu Coudron <matthieu.coudron@lip6.fr>
Matthieu Coudron <matthieu.coudron@lip6.fr> Matthieu Coudron <mattator@gmail.com>
Mirko Banchi <mk.banchi@gmail.com> mirko <unknown>
Mitch Watrous <watrous@u.washington.edu>
Mitch Watrous <watrous@u.washington.edu> Mitch Watrous <unknown>
Mitch Watrous <watrous@u.washington.edu> watrous <unknown>
Mohit P. Tahiliani <tahiliani@nitk.edu.in> Mohit P. Tahiliani <tahiliani.nitk@gmail.com>
Natale Patriciello <natale.patriciello@gmail.com>
Nicola Baldo <nbaldo@cttc.es> <nicola@baldo.biz>
Peter D. Barnes, Jr. <barnes26@llnl.gov> Peter D. Barnes, Jr. <pdbarnes@llnl.gov>
Quincy Tse <quincy.tse@nicta.com.au> Quincy Tse <quincy.tse@gmail.com>
Raj Bhattacharjea <raj.b@gatech.edu> raj. <b@gatech.edu>
Ramon Bauza <monbauza@gmail.com> Ramon Bauza <unknown>
Ruben Merz <ruben@net.t-labs.tu-berlin.de> Ruben Merz <ruben.merz@ieee.org>
Sascha Alexander Jopen <jopen@informatik.uni-bonn.de> Sascha Alexander Jopen <unknown>
Sébastien Deronne <sebastien.deronne@gmail.com> <sebastienderonne@MacBook-Pro-de-Sebastien.local>
Sébastien Deronne <sebastien.deronne@gmail.com> <sebastien.deronne@umons.ac.be>
Sebastien Vincent <vincent@clarinet.u-strasbg.fr> Sebastien Vincent <sebastien.vincent@turnserver.org>
Stefano Avallone <stavallo@unina.it> <stefano.avallone@unina.it>
Timo Bingmann <timo.bingmann@student.kit.edu> Timo Bingmann <tbns@idlebox.net>
<tjkopena@cs.drexel.edu> <tjkopena@nsnam-code.ece.gatech.edu>
Tom Goff <tgoff@tgoff.net> Tom Goff <thomas.goff@boeing.com>
Tom Goff <tgoff@tgoff.net> Unknown <tgoff@tgoff.net>
Tom Henderson <tomh@tomh.org> Tom Henderson <unknown>
Tom Henderson <tomh@tomh.org> Unknown <tomh@ns-regression.ee.washington.edu>
Tom Henderson <tomh@tomh.org> Unknown <tomh@powerbook.local>
Tom Henderson <tomh@tomh.org> Unknown <tomh@ubuntu>
Tommaso Pecorella <tommaso.pecorella@unifi.it>
Tommaso Pecorella <tommaso.pecorella@unifi.it> Tommaso Pecorella <tpecorella@mac.com>
Tommaso Pecorella <tommaso.pecorella@unifi.it> Tommaso Pecorella <unknown>
Vedran Miletić <rivanvx@gmail.com>
Vedran Miletić <rivanvx@gmail.com> Vedran Miletić <unknown>
Yufei Cheng <yfcheng@ittc.ku.edu>
Yufei Cheng <yfcheng@ittc.ku.edu> Yufei Cheng <yfcheng0@gmail.com>
